apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "harvester-network-controller.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "harvester-network-controller.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "harvester-network-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
    {{- include "harvester-network-controller.selectorLabels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "harvester-network-controller.name" . }}
      hostNetwork: true
      containers:
        - name: network
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            privileged: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
