
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  creationTimestamp: null
  name: virtualmachineimages.harvesterhci.io
spec:
  group: harvesterhci.io
  names:
    kind: VirtualMachineImage
    listKind: VirtualMachineImageList
    plural: virtualmachineimages
    shortNames:
    - vmimage
    - vmimages
    singular: virtualmachineimage
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.displayName
      name: DISPLAY-NAME
      type: string
    - jsonPath: .status.size
      name: SIZE
      type: integer
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              checksum:
                type: string
              description:
                type: string
              displayName:
                type: string
              pvcName:
                type: string
              pvcNamespace:
                type: string
              retry:
                default: 3
                maximum: 10
                minimum: 0
                type: integer
              sourceType:
                enum:
                - download
                - upload
                - export-from-volume
                type: string
              storageClassParameters:
                additionalProperties:
                  type: string
                type: object
              url:
                type: string
            required:
            - displayName
            - sourceType
            type: object
          status:
            properties:
              appliedUrl:
                type: string
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              failed:
                default: 0
                minimum: 0
                type: integer
              lastFailedTime:
                type: string
              progress:
                type: integer
              size:
                format: int64
                type: integer
              storageClassName:
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
