###########################################################################
###########################################################################
##                            Installation control                       ##
###########################################################################
###########################################################################

## Specify to enable the sub-chart group or not,
## view more detail from: https://helm.sh/docs/topics/charts/#tags-and-condition-resolution.
##
tags:

  ## Specify to enable both CDI operator and CDI sub-charts,
  ## defaults to "true".
  ##
  cdi: true

  ## Specify to enable both KubeVirt operator and KubeVirt sub-charts,
  ## defaults to "true".
  ##
  kubevirt: true

###########################################################################
###########################################################################
##          Override the sub-charts default configuration below          ##
###########################################################################
###########################################################################

## Specify the parameters to override the sub-chart.
##
kubevirt-operator:
  containers:
    operator:
      image:
        repository: kubevirt/virt-operator
        tag: &kubevirtVersion v0.35.0
    ## The following four images are placeholder for images in use.
    ## They are not used by the kubevirt-operator chart.
    controller:
      image:
        repository: kubevirt/virt-controller
        tag: *kubevirtVersion
    handler:
      image:
        repository: kubevirt/virt-handler
        tag: *kubevirtVersion
    api:
      image:
        repository: kubevirt/virt-api
        tag: *kubevirtVersion
    launcher:
      image:
        repository: kubevirt/virt-launcher
        tag: *kubevirtVersion

## Specify the parameters to override the sub-chart.
##
kubevirt:

  ## Specify the specification of KubeVirt resource.
  ##
  spec:

    ## Specify the default configuration of KubeVirt virtual machine.
    ##
    configuration:

      ## Specify the network configuration of VirtualMachineInstance.
      ##
      network:

        ## Specify the default network interface of VirtualMachineInstance(`spec.domain.devices.interfaces[?(.name="default")]`),
        ## defaults to "bridge".
        ##
        defaultNetworkInterface: "bridge"

        ## Specify to permit slirp interface
        ## NB(thxCode): we just need to pin it as true,
        ## and then the user can focus on the above "defaultNetworkInterface".
        ##
        permitSlirpInterface: true

        ## Specify to permit bridge interface,
        ## NB(thxCode): we just need to pin it as true,
        ## and then the user can focus on the above "defaultNetworkInterface".
        ##
        permitBridgeInterfaceOnPodNetwork: true

## Specify the parameters to override the sub-chart.
##
cdi-operator:
  containers:
    operator:
      image:
        repository: kubevirt/cdi-operator
        tag: &cdiVersion v1.26.1
    controller:
      image:
        repository: kubevirt/cdi-controller
        tag: *cdiVersion
    importer:
      image:
        repository: kubevirt/cdi-importer
        tag: *cdiVersion
    apiserver:
      image:
        repository: kubevirt/cdi-apiserver
        tag: *cdiVersion
    uploadproxy:
      image:
        repository: kubevirt/cdi-uploadproxy
        tag: *cdiVersion

## Specify the parameters to override the sub-chart.
##
cdi: {}

## Specify the parameters to override the sub-chart.
##
minio:

  ## Specify to install Minio,
  ## defaults to "true".
  ##
  enabled: true

  ## Specify the image.
  ##
  image:
    repository: minio/minio
    tag: RELEASE.2020-11-19T23-48-16Z

  ## Specify the mode.
  ##
  mode: distributed

  ## Specify the full name of Minio.
  ##
  fullnameOverride: "minio"

  ## Specify the resources of Minio container.
  ##
  resources:
    limits:
      cpu: 2
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 512Mi

  ## Specify the access key.
  ##
  accessKey: YOURACCESSKEY

  ## Specify the secret key.
  ##
  secretKey: YOURSECRETKEY

  ## Specify the affinity.
  ##
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app
              operator: In
              values:
              - minio
          topologyKey: kubernetes.io/hostname

  ## Specify the persistence of Minio.
  ##
  persistence:

    ## Specify to use persistent storage or not.
    ##
    enabled: true

    ## Specify the StorageClass of Minio,
    ## otherwise, Minio will use the default StorageClass.
    ##
    storageClass: ""

    ## Specify the size of Minio.
    ##
    size: 20Gi

###########################################################################
###########################################################################
##                    Default values for Harvester                       ##
###########################################################################
###########################################################################

## Provide a name in place of labels.
##
nameOverride: ""

## Provide a name to substitute for the full names of resources.
##
fullnameOverride: ""

## Specify the replicas of workload.
##
replicas: 1

## Specify the security context of workload.
##
securityContext: {}

## Specify the node selector of workload.
##
nodeSelector: {}

## Specify the tolerations of workload.
##
tolerations: []
#  - key: CriticalAddonsOnly
#    operator: Exists

## Specify the update strategy of workload.
##
strategy:
  type: RollingUpdate

## Specify the parameter of containers.
##
containers:

  ## Specify the parameter of harvester-apiserver container.
  ##
  apiserver:

    ## Specify the image.
    ##
    image:

      ## Specify the pull policy of image.
      ##
      imagePullPolicy: Always

      ## Specify the repository of image.
      ##
      repository: rancher/harvester

      ## Specify the tag of image.
      ##
      tag: master-head

    ## Define the authentication mode, currently only kubernetesCredentials and localUser are supported,
    ## could config more than one mode, separated by comma
    authMode: "localUser,kubernetesCredentials"

    ## Specify the command.
    ##
    command: []

    ## Specify the args.
    ##
    args: []

    ## Specify the env.
    ##
    env: []
    #  - name: OPERATOR_IMAGE
    #    value: xxx

    ## Specify the liveness probe.
    ##
    livenessProbe: {}

    ## Specify the readiness probe.
    ##
    readinessProbe: {}

    ## Specify the resources.
    ##
    resources:
      limits:
        cpu: 500m
        memory: 500Mi
      requests:
        cpu: 250m
        memory: 256Mi

    ## Specify the gateway to access Minio-like VM image storage service which is compatible with S3,
    ## only valid if Minio sub-charts is disabled in the same chart release.
    ##
    vmImageStorageGateway:

      ## Specify the endpoint.
      ##
      endpoint: ""

      ## Specify the name of the same namespace existing Secret instance,
      ## which stored the access key(in "accessKey" field) and secret key(in "secretKey" field).
      secretName: ""

      ## Specify the access key,
      ## the value will be stored in "accessKey" field of a specified Secret(named as the default fully qualified app name).
      ##
      accessKey: ""

      ## Specify the secret key,
      ## the value will store in "secretKey" field of a specified Secret(named as the default fully qualified app name).
      ##
      secretKey: ""

## Specify the service configuration.
##
service:

  ## Specify the configuration of default service,
  ## which is named "harvester".
  ##
  harvester:

    ## Specify as cluster service,
    ## so this service can be listed with `kubectl cluster-info`.
    asClusterService: true

    ## Specify the type of service,
    ## select from [ClusterIP, NodePort, LoadBalancer],
    ## defaults to "ClusterIP".
    ##
    type: ClusterIP

    ## Specify the port of HTTPs endpoint.
    ## defaults to "8443".
    ##
    httpsPort: 8443

    ## Specify the port of HTTP endpoint,
    ## this port will be closed if set to 0.
    ## defaults to "0".
    ##
    httpPort: 0

## Specify the lifecycle jobs.
##
jobs:

  ## Specify the pre-delete job.
  ##
  preDelete:

    ## Specify to execute pre-delete job,
    ## defaults to "true".
    ##
    enabled: true

    ## Specify the node selector of workload.
    ##
    nodeSelector: {}

    ## Specify the tolerations of workload.
    ##
    tolerations: []
    #  - key: CriticalAddonsOnly
    #    operator: Exists

    ## Specify the backoff limit of workload,
    ## defaults to "1".
    ##
    backoffLimit: 1

    ## Specify the amount of seconds for calculate the active deadline,
    ## defaults to "900".
    ##
    activeDeadlineSeconds: 900

    ## Specify the amount of TTL seconds after finished(Complete/Failed),
    ## defaults to "10".
    ##
    ttlSecondsAfterFinished: 10

    ## Specify the restart policy of workload,
    ## defaults to "OnFailure".
    ##
    restartPolicy: OnFailure

    ## Specify the parameter of containers.
    ##
    containers:

      ## Specify the parameter of kubectl action container.
      ##
      kubectl:

        ## Specify the image.
        ##
        image:

          ## Specify the pull policy of image.
          ##
          imagePullPolicy: IfNotPresent

          ## Specify the repository of image.
          ##
          repository: bitnami/kubectl

          ## Specify the tag of image.
          ##
          tag: 1.18.6

        ## Specify the resources.
        ##
        resources:
          limits:
            cpu: 250m
            memory: 128Mi
          requests:
            cpu: 250m
            memory: 128Mi

harvester-network-controller:
  ## Specify to install harvester network controller,
  ## defaults to "true".
  enabled: true

  image:
    repository: rancher/harvester-network-controller
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "master-head"

multus:
  ## Specify whether to install the multus-cni,
  ## defaults to "false", this will be enabled in ISO mode installation.
  enabled: false

  image:
    repository: nfvpe/multus
    tag: v3.6

  ## Specify the cni hostPath, default to use the k3s cni hostPath
  hostPath:
    cniConfDir: /var/lib/rancher/k3s/agent/etc/cni/net.d
    cniBinDir: /var/lib/rancher/k3s/data/current/bin
  ## Specify multus-cni daemonSet extra arguments
  args:
    - "--multus-kubeconfig-file-host=/var/lib/rancher/k3s/agent/etc/cni/net.d/multus.d/multus.kubeconfig"

longhorn:
  ## Specify whether to install longhorn,
  ## defaults to "false", this will be enabled in ISO mode installation.
  enabled: false

  ## Specify the namespace to install longhorn.
  namespaceOverride: longhorn-system

  csi:
    ## Specify the kubelet root directory.
    kubeletRootDir: /var/lib/kubelet
