
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  creationTimestamp: null
  name: nodenetworks.network.harvester.cattle.io
spec:
  group: network.harvester.cattle.io
  names:
    kind: NodeNetwork
    listKind: NodeNetworkList
    plural: nodenetworks
    shortNames:
    - nn
    - nns
    singular: nodenetwork
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.description
      name: DESCRIPTION
      type: string
    - jsonPath: .spec.nodeName
      name: NODENAME
      type: string
    - jsonPath: .spec.type
      name: TYPE
      type: string
    - jsonPath: .spec.nic
      name: NIC
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              description:
                type: string
              nic:
                type: string
              nodeName:
                type: string
              type:
                enum:
                - vlan
                type: string
            required:
            - nodeName
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              networkIDs:
                items:
                  type: integer
                type: array
              networkLinkStatus:
                additionalProperties:
                  properties:
                    conditions:
                      items:
                        properties:
                          lastTransitionTime:
                            description: Last time the condition transitioned from
                              one status to another.
                            type: string
                          lastUpdateTime:
                            description: The last time this condition was updated.
                            type: string
                          message:
                            description: Human-readable message indicating details
                              about last transition
                            type: string
                          reason:
                            description: The reason for the condition's last transition.
                            type: string
                          status:
                            description: Status of the condition, one of True, False,
                              Unknown.
                            type: string
                          type:
                            description: Type of the condition.
                            type: string
                        required:
                        - status
                        - type
                        type: object
                      type: array
                    index:
                      type: integer
                    ipv4Address:
                      items:
                        type: string
                      type: array
                    mac:
                      type: string
                    master:
                      type: string
                    promiscuous:
                      type: boolean
                    routes:
                      items:
                        type: string
                      type: array
                    state:
                      type: string
                    type:
                      type: string
                  type: object
                type: object
              physicalNICs:
                items:
                  properties:
                    index:
                      type: integer
                    name:
                      type: string
                    usedByManagementNetwork:
                      type: boolean
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
